.pageLogo {
    width: 40px;
    height: 40px;
}
.logincontrols, .signupModal {
    margin: 5px;
    padding: 5px;
    li {
        list-style: none;
        margin: 5px;
        padding: 5px;
    }
}

.captchaBlock {
    text-align: center;
    letter-spacing: 10px;
    font-weight: bold;
    font-size: 20px;
    width: 150px;
    padding: 20px;
    border: 2px solid red;
}

#productDetailsContainer {
    display: flex;
    flex-wrap: wrap;
    img {
        width: 100%;
        margin: 5px;
        height: 150px
    }
    .card-title {
        height: 100px;
    }
}

#productDetailsContainer > div {
    margin: 10px;
}
.loggedinUser {
    display: none;
}

.priceValue {
    font-weight: bold;
    
}

#categoryList div {
    text-transform: capitalize;
    input[type=checkbox] {
        margin: 20px;
    }
}
.header1{
    background-image: linear-gradient(to right, #ff925f, #341aa8, #67e467, #e63fca);
}
.footer1{
    background-image: linear-gradient(to right, #2fd4cc,  #f37c4d);
    
}

.search1{   
    background-image: linear-gradient(to left, #e7e2df, white ,#7e7e76, #94af94, white, #777336); 
    
   
   border-color: rgb(243, 230, 44);
}

.listbold {
    font-weight: bold;
    font-weight: bolder;
    color: wheat;
       
}



    



