.pageLogo {
    width: 40px;
    height: 40px;
}
.logincontrols, .signupModal {
    margin: 5px;
    padding: 5px;
    li {
        list-style: none;
        margin: 5px;
        padding: 5px;
    }
}

.captchaBlock {
    text-align: center;
    letter-spacing: 10px;
    font-weight: bold;
    font-size: 20px;
    width: 150px;
    padding: 20px;
    border: 2px solid rgb(161, 169, 240);
}

#productDetailsContainer {
    display: flex;
    flex-wrap: wrap;
    img {
        width: 90%;
        margin: 5px;
        height: 150px
    }
    .card-title {
        height: 100px;
    }
}

#productDetailsContainer > div {
    margin: 10px;
}
.loggedinUser {
    display: none;
}

.priceValue {
    font-weight: bold;
    
}

#categoryList div {
    text-transform: capitalize;
    /* input[type=checkbox] {
        margin: 20px;
    } */
}
.header1{
    background-image: linear-gradient(to right, #ff925f, #341aa8, white,#97df97, #e63fca);
}

.footer1{
    background-image: linear-gradient(to right, rgb(224, 150, 224),#2fd4cc, rgb(149, 230, 149), #f37c4d, white,rgb(209, 136, 209));
    
}
.modal-content{
    background-image: linear-gradient(to left, #f3caf0, white ,#ececad, #f1f1c4, white, #d2f7f7); 

}

.search1{   
    background-image: linear-gradient(to left, #f0bded, white ,#f1f19f, #a9e7a9, white, #ece9e4); 
    
   
   border-color: rgb(238, 19, 209);
}

.listbold {
    font-weight: bold;
    font-weight: bolder;
    color: wheat;
       
}
#cartSection {
  border: 2px solid orange;
  padding: 10px;
  background-color: #fffce0;
}




.filterTitle{
    font-weight: bold;
   
    font-size: 20px;
    text-align: center;
    color: #000000;
    margin-bottom: 10px;
}


 .FilterContainer {
  display: flex;
  flex-direction: column;
  /* width: 260px; */
  width: 24.9%;
  height: 100%;
  border: 2px solid violet;
  padding: 10px;
    margin: 5px;
  border-radius: 8px;
  background-color: #fafafa;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  background-image: linear-gradient(to right, #dfd983, #ece5e5,rgb(235, 164, 235), #d6e2a3);
  transition: box-shadow 0.3s ease-in-out;
} 

.FilterContainer1{
    background-image: linear-gradient(to right, #a8e98e, #ece5e5, #eeb2f0, #aed8f0);
  transition: box-shadow 0.3s ease-in-out;
    display: flex;
    flex-direction: row;
    /* width: 980px; */
    width: 74.9%;
    height: 100%;
    border: 2px solid rgb(150, 145, 201);
    background-color: lightcyan;
    padding: 10px;
    margin: 5px;
    border-radius: 8px;
    background-color: #fafafa;
    box-shadow: 0 4px 12px rgba(226, 28, 28, 0.1);

}
.footer-quote {
  font-size: 1.25rem; /* Increase size */
  color: #f8f9fa;
  font-weight: 600;
  margin-top: 1rem;
  font-style: italic;
}
.card-img-top{
    width: 89%;
    height: 200px;
    object-fit: cover;

}

.main-wrapper {
  display: flex;
  width: 100%;
  gap: 0.2%;
  border:2px solid #e6f0af;
}


.category-list input[type="checkbox"] {
  margin-right: 8px;
  accent-color: #0c10dd;
  /* padding: 5px; */
  
}

.sorting {
    display: flex;
  flex-direction: column;
  /* width: 260px; */
  height: 100%;
  border-color: tomato;
  padding: 16px;
    margin: 10px;
  border-radius: 8px;
  background-color: #fafafa;
  

}

#categoryList {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 10px;   
    padding: 5px;
}

.form-check {
    display: flex;
    align-items: center;
    /* gap: 8px; */
}

.profile-content{

    color:black;
    border: 2px solid #e6f0af;
    border-radius: 5%;
    padding: 10px;

}  
    
    .profile-sidebar {
    position: absolute;
    top: 80px; /* adjust to be below the header */
    right: 20px;
    width: 300px;
    background-color: #fff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    z-index: 1000;
    padding: 20px;
    max-height: auto;
    overflow-y: auto;
}



.d-none {
    display: none !important;
}









    



