<div class="main-wrapper" id="productDetailsContainerRow">
    <div class="FilterContainer">
        <div>
            <button class="deleteProduct" onclick="location.href='orderslist.html'">
                Order History
            </button>
            </br>
            <span class="filterTitle ">Filter</span>

            </br>
            <span> Price Range Rs.: <span id="selectedPrice"> </span> </span>

            <input type="range" min="100" max="1000" onchange="setPriceRange()" id="priceRangeBar" step="100" ></span>
        </div>





        <div id="categoryList" class="category-list">

            <button class="btn btn-primary" onclick="applyFilter()">
                Apply Filter
            </button>

            <button class="btn btn-secondary" onclick="clearFilter()">
                Clear Filter </button>

            
        </div>

        <div class="sorting">
            <div class="d-flex justify-content-start align-items-center flex-wrap sort-section">
                <div class="me-3">
                    <label for="sortTitle" class="form-label fw-bold">Sort by Title:</label>
                    <select class="form-select" id="sortTitle" onchange="sortByTitle(this.value)">
                        <option value="">-- Select --</option>
                        <option value="asc"> Assending A → Z</option>
                        <option value="desc">Desending Z → A</option>
                    </select>
                </div>
                
                <div class="me-3">
                    <label for="sortPrice" class="form-label fw-bold">Sort by Price:</label>
                    <select class="form-select" id="sortPrice" onchange="sortByPrice(this.value)">
                        <option value="">-- Select Price--</option>
                        <option value="lowHigh">Low → High</option>
                        <option value="highLow">High → Low</option>
                    </select>
                </div>
            </div>
        </div>

        <p class="fw-bold">Total Products: <span id="totalProducts"> </span></p>
        <p class="fw-bold">Total Price ₹ <span id="totalPrice"> </span></p>
        <button class="AddProduct" onclick="location.href='addNewProduct.html'">
                Add New Product
            </button>
            <button class="deleteProduct" onclick="location.href='deleteProduct.html'">
                Delete Product
            </button>
            <button class="btn btn-warning mt-3" id="toggleCartBtn" onclick="toggleCart()">🛒 View Cart</button>
       
    </div>






    <div class="FilterContainer1" id="productDetailsContainer" width="70%">
        <div class="row" id="productDetailsRow1">
            <!-- Product details will be dynamically inserted here -->
        </div>
        


    </div>
    
</div>




