

<div id="cartSection" style="display: none; margin-top: 20px;">
  <h2>Cart Details Summary</h2>
  
<p><strong>Order ID:</strong> <span id="orderId">${order.orderId}</span></p>
  <p><strong>Order Date & Time:</strong> <span id="orderDateTime">${order.orderDate} </span></p>

  <table id="cartTable" border="3px" width="100%" display="table">
    <thead>
      <tr>
        <th>S.No</th>
        <th>Title</th>
        <th>Price</th>
        <th>Qty</th>
        <th>Total</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody id="cartBody"></tbody>
  </table>
  <p><strong>Total Items:</strong> <span id="totalItems">0</span></p>
  <p><strong>Total Price ₹:</strong> <span id="totalAmount">0.00</span></p>
  

  <button class="btn btn-success" onclick="placeOrder()">🧾 Place Order</button>

  <button class="btn btn-danger" onclick="toggleCart()">Close Cart</button>
</div>
<div class="card" style="width: 18rem;">
  <img src="{{image}}" class="card-img-top" alt="Product image"  onerror="this.onerror=null; this.src='/images/defults.png'" >
  <div class="card-body">
    <h5 class="card-title"> <strong> Name:</strong>{{title}}</h5>
    <p class="card-text"> <strong> Category:</strong> {{category}}</p>
    <p class="card-text">{{description}}</p>
    <div class="priceValue"> <strong> ₹  </strong>{{price}}</div>
    <div class="ratingContainer" id="rating_{{index}}"></div> <br>
    

    <div class="row">
    {{#if isDeletePage}}
    <div class="col">
        <button class="btn btn-danger btn-sm" onclick="deleteProduct('{{_id}}')">Delete</button>
    </div>
    {{else}}
    <div class="col">
        <button class="btn btn-primary btn-sm" onclick="addToCart('{{_id}}', '{{title}}', '{{price}}')">Add to Cart</button>
    </div>

    
    <div class="col">
        <a href="#" class="btn btn-primary btn-sm" onclick="loadMoreDetailsPage('{{_id}}')">More details</a>
    </div>
    {{/if}}
</div>
    
  </div>
</div>


